

<div>
  <h2 class="addtask"><%= link_to 'add a task', new_task_path %></h2>
  <% @tasks.each do |task| %>
    <h3><%= link_to task.name, task_path(task) %></h3>
    <p><%= task.status %> | <%= task.date %></p>
  <% end %>
</div>




